
.main-feed-text {
  font-size: 2.8em;
  line-height:1em;
  color:black;

}

.main-notes-box {
  height:22vh !important;

}

.feed-box {
  height:auto !important;
  padding-top:0 !important;
}

.feed-box a {
  text-decoration:none;
}

.feed-date {
  color:grey;
}
.feed-box li {
  padding:1em 0 2em 0;
  max-width:389px;
  background-color:white;
  transition: background-color .2s ease-out;
  -moz-transition: background-colorbackground-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  animation-duration: 3s;
}

.feed-box li:hover {
  background-color:aliceblue;

}


.notes-feed-list > li:first-child{
  margin-top:0;
}

.notes-feed-list > li:last-child{
  margin-bottom:100px;
}

.notes-feed-list a {
  color:black;
}



.feed-title {
  font-size: 1.8em;
  line-height:1em;
  color:black;

  text-decoration:underline;

  text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-skip: ink;

}

.feed-subtitle {



  text-decoration: none;
  line-height: 1.5em;
  font-weight:400;
  color:grey;
  font-size:16px;
  opacity:.8;

}



.feed-tag {

width: auto;
text-transform: uppercase;
display: inline-block;
text-align: center;
border: 1px solid #eaeaea;
padding: 17px;
font-size: 12px;
letter-spacing: 1px;
border-radius: 22px;
margin:0 2px;
    color: grey;
}

.feed-tag::before {
  content: "☞";
  color:#C7C7C7;
  font-size:18px;
  margin-bottom:4px;
  padding-right:5px;
  vertical-align: middle;
}
