h1 {

position:relative;

	opacity: 1;
	animation-name:slidedown;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;

   -webkit-animation: slidedown 0.5s forwards;
   animation: slidedown 0.5s forwards;

}



@keyframes slidedown {
	0% {
		opacity: 0;
    top:-50px;
	}
	100% {
		opacity: 1;
    top:0px
	}
}

@-webkit-keyframes slidedown {
	0% {
		opacity: 0;
    top:-50px;
	}
	100% {
		opacity: 1;
    top:0px
	}
}



.glyph{
	-webkit-animation: blink linear .5s infinite;
	animation: blink linear .5s infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
