
<div id="gallery-box" class="home-gallery">




  <a href="https://www.behance.net/gallery/56411061/Startup-Website-v1"><div id="work-row" class="workrow1">

      <img id="work-preview-img" src="/img/sw_1.png" alt="design">
  </div>
  </a>

  <a href="https://www.behance.net/gallery/56414013/Team-Icons"><div id="work-row" class="workrow2">

      <img id="work-preview-img" class="teamgif" src="/img/team.gif" alt="design">
  </div>
  </a>

  <a href="https://www.behance.net/gallery/56409429/Tropical-Wedding-Template">

      <div id="work-row" class="workrow2">
      <img id="work-preview-img" src="/img/preview-weddings.png" alt="design">
  </div></a>


</div>
