<!---CSS hamburger--->


<input type="checkbox" id="hamburger"/>


<div class="nav-flex">
<div class="nav-container">

<ul class="main-nav">

  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li><a href="https://www.behance.net/JessicaSacker">Work</a></li>
  <li><a href="{{site.baseurl}}/contact/">Contact</a></li>

</ul>

</div>
</div>

<label class="nav-circle" style="color:pink" for="hamburger">☻</label>

<!--

<p id="side-txt" class ="side-txt-left">Jessica Sacker</p>
<a href="{{site.baseurl}}/contact/"><p id="side-txt" class ="side-txt-right">  Hire Me!  </p></a>
-->





<svg class="logo-svg-right" version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="51.3px" height="63.1px" viewBox="0 0 51.3 63.1" style="enable-background:new 0 0 51.3 63.1;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#E58F8F;stroke-width:3;stroke-miterlimit:10;}
</style>
<defs>
</defs>
<line class="st0" x1="25.6" y1="0" x2="25.6" y2="60"/>
<polyline class="st0" points="50.2,36.4 25.6,61 1.1,36.4 "/>
</svg>
