<!---CSS hamburger--->


<input type="checkbox" id="hamburger"/>


<div class="nav-flex">
<div class="nav-container">

<ul class="main-nav">

  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li><a href="https://www.behance.net/JessicaSacker">Work</a></li>
  <li><a href="{{site.baseurl}}/contact/">Contact</a></li>

</ul>

</div>
</div>

<label class="nav-circle" style="color:pink" for="hamburger">☻</label>

<!--

<p id="side-txt" class ="side-txt-left">Jessica Sacker</p>
<a href="{{site.baseurl}}/contact/"><p id="side-txt" class ="side-txt-right">  Hire Me!  </p></a>
-->


<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In  -->
<svg class="logo-svg-new" version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="73.2px" height="127.1px" viewBox="0 0 73.2 127.1" style="enable-background:new 0 0 73.2 127.1;"
	 xml:space="preserve">

<defs>
</defs>
<polygon class="st0" points="69.7,87 39.1,117.6 39.1,0 34.1,0 34.1,117.6 3.5,87 0,90.5 36.6,127.1 73.2,90.5 "/>
</svg>
